<div class="container">
	<div class="row">
		<div class="col text-center">
			<!-- the photo below will not be displayed whether you use double or single period. Even when you access through url (http://localhost:3000/img/adrian.jpg), the photo still not displayed. Why? By default, express is protecting our static file such as photo, css file, js file, music, video. To access those files you must tell express if we have public folder where the contents are static files those can be accessed by anyone. We can use built-in middleware (express.static). Read in the doc. Go to app.js in 121 -->
			<!-- <img src="./img/adrian.jpg" alt="Adrian Nandu"> -->
			<h1 class="display-4">Adrian Nandu</h1>
			<p class="lead">Programmer | Blogger</p>
		</div>
	</div>
</div>