<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h3>Links</h3>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <h1>Web Server NodeJS</h1>
    <h2>Hello, <%= name %></h2>

    <!-- 1st, to display the students data -->
    <h4>Students Registration</h4>
    <ul>
      <li>Name : Adrian Nandu</li>
      <li>Email : adriannandu@gmail.com</li>
    </ul>
    <!-- 2nd try to nodemon app -->
    <!-- 3rd, we need to get the data from the array in app.js. We need looping. Go to 107  -->
  </body>
</html>
