<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 1st, replace the title below with ejs -->
    <!-- <title>NodeJS Web Server</title> -->
    <title><%= title %></title>
    <!-- 2nd, go back to app.js and nodemon app -->
  </head>
  <body>
    <h3>Links</h3>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <h1>Web Server NodeJS</h1>
    <h2>Hello, <%= name %></h2>
  </body>
</html>
