<div class="container">
	<div class="row">
		<div class="col text-center">
			<!-- <img src="./img/adrian.jpg" alt="Adrian Nandu"> -->
			 <!-- 1st, we can write like below to access to the img file. The commented line of code above is also working -->
				<!-- 2nd we give style -->
			<img src="img/adrian.jpg" alt="Adrian Nandu" class="img-thumbnail rounded-circle" width="200">
			<!-- 3rd, go back to app.js -->
			<h1 class="display-4">Adrian Nandu</h1>
			<p class="lead">Programmer | Blogger</p>
		</div>
	</div>
</div>