<!-- 1st .container.mt-3>.row>.col-md-8. Then press tab -->
<div class="container mt-3">
	<div class="row">
		<div class="col-md-8">
			<h2>Detail Contact</h2>
			<!-- 2nd, we go to bootstrap. Search for card. -->
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<!-- 3rd, replace the card title with name -->
					<h5 class="card-title">Adrian</h5>
					<!-- 4th, subtitle to phoneno -->
					<h6 class="card-subtitle mb-2 text-body-secondary">0108324563</h6>
					<!-- 5th, text we replaced with email -->
					<p class="card-text">adriannandu@mit.edu</p>
					<!-- 6th, href below pointing to contact page. We add html entity &laquo (left arrow quotation). Commented the findContact and contact first in app.js and run the app. Click the detail button in contact page. Go to 131  -->
					<a href="/contact" class="card-link">&laquo;Return to Contact Registration</a>
				</div>
			</div>
		</div>
	</div>
</div>