<div class="container">
	<div class="row">
		<div class="col text-center">
			<img src="img/adrian.jpg" alt="Adrian Nandu" class="img-thumbnail rounded-circle" width="200">
			<h1 class="display-4">Adrian Nandu</h1>
			<p class="lead">Programmer | Blogger</p>
		</div>
	</div>
</div>